.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .Container{
    width: 600px;
    button{
      text-decoration: solid;
      width: 100px;
      padding: 20px;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      &:hover{
        color:red;
        cursor: pointer;
      }
    }
   
  }
}
